ibmcloud_api_key=""                             # IBM Cloud Account API Key

RESOURCE_PREFIX="instana"                       # Prefix value which will be added to all resources

region="us-south"                               # IBM Cloud region 
zone="us-sount-1"                               # IBM Cloud zone

sales_id="xxxx"                                 # Instana license sales_id
agent_key="xxxxxxxx"                            # Instana license agent_key

name="instana-vm"                               # The name for instana VM to be created"
ssh_instana_public_key_file="ssh-instana.pub"   # SSH PUBLIC KEY file path
ssh_instana_private_key_file="ssh-instana"      # SSH PRIVARTE KEY file path


